body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(238, 238, 238);
}
.container {
      max-width: 1000px;
      margin: 0 auto; 
      @media only screen and (max-width: 930px) {
          max-width: 700px;
      }
      @media only screen and (max-width: 680px) {
          max-width: 500px;
      }
      @media only screen and (max-width: 415px) {
          max-width: 350px;
      }
      @media only screen and (max-width: 315px) {
          max-width: 250px;
      } 
    .buttons {
        &__button {
            padding: 0.8em 2em;
            background-color: #4773FF;
            color: white;
            font-size: 1em;
            border: none;
            cursor: pointer;
            border-top-left-radius:30px;
            border-bottom-left-radius: 30px;
            border-radius: 30px;
            border: 2px solid #4773FF;
            transition: 0.3s;
            outline: none;
            &:hover {
                background-color: transparent;
                color: black;
            }
        }
    }
}
.header {
  .container {  
    &__top {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .mobile__nav {
                display: none;
                list-style: none;
                margin-left: 0;
                padding-left: 0;
            }
          
            input, label {
                display: none;
            }
            label {
                @media only screen and (max-width : 930px) {
                    display: flex;
                }
            }
            &__nav {
                display: flex;
                margin-left: 0;
                padding-left: 0;
                list-style: none;
                @media only screen and (max-width:930px) {
                    display: none;
                }
                li:first-child {
                    padding-left: 2em;
                }
                li {
                    padding-left: 1em;
                }
            }
            @media only screen and (max-width : 930px)  {
                width: 100%;
                input[type="checkbox"]:checked ~ .mobile__nav {
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    background-color:  #4773FF;
                    color: white;
                    li {
                        padding-left: 0;
                        padding: 1em;
                    }
                }
            }
        }
        .buttons {
            @media only screen and (max-width:930px) {
                display: none;
            }
        }
    }
    }
}
    
.main {
    .container {
        &__main {
            display: flex;
            justify-content: space-between;
            margin-top: 100px;
            align-items: center;
            @media only screen and (max-width : 930px) {
                flex-direction: column;
            }
            .info {
                @media only screen and (max-width : 930px)  {
                    text-align: center;
                    display: flex; 
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin-bottom: 1em;
                }
                &__title {
                    font-weight: 700;
                    font-size: 3em;
                }
                &__subtitle {
                    font-weight: 100;
                }
                &__ul {
                    display: flex;
                    list-style: none;
                    margin-left: 0;
                    padding-left: 0;
                    align-items: center;
                   
                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                    }
                    li + li {
                        padding-left: 1em;
                    }
                    @media only screen and (max-width: 415px) {
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        li {
                            padding: 1em;
                        }
                       
                    }
                }
            }
            .main__aside {
                width: 100%;
                max-width: 400px;
                .top {
                    display: flex; 
                    justify-content: space-around;
                    width: 100%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    margin-bottom: 1em;
                    background-color: white;
                    border-radius: 5px;
                    &__logo {
                        max-width: 170px;
                        text-align: center;
                    }
                    &__links {
                        display: flex;
                        justify-content: space-around;
                        max-width: 150px;
                        width: 100%;
                       
                        p {
                            height: 10px;
                            width: 20%;
                            background-color: #BEBEBF;
                            margin: 0.5em;
                            border-radius: 20px;
                            }
                        }
                    }   
                } 
                .baner {
                    
                    background-color: #BEBEBF;
                    height: 150px;
                    max-height: 200px;
                    border-radius: 5px;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    align-items: center;
                    p {
                        margin: 0;
                        border-radius: 10px;
                        
                    }
                    p:first-child {
                        width: 30%;
                        height: 20px;
                        background-color: white;
                        
                    }
                    p:nth-child(2) {
                        width: 60%;
                        height: 15px;
                        background-color: honeydew;
                        margin: 0.5em 0;
                        
                    }
                    p:last-child {
                        width: 50%;
                        height: 15px;
                        background-color: indianred;
                    }
                }  
    
                .products {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 1em;
                    padding-top: 1em;
                    background-color: white;
                    border-radius: 5px;
                    @media only screen and (max-width : 360px) {
                        flex-direction: column;
                        align-items: center;
                    }

                    &__product {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        max-width: 100px;
                        
                        .photo {
                            width: 100%;
                            max-width: 300px;
                            height: 100px;
                            background-color: #BEBEBF;
                            border-radius: 5px;
                            border: 2px solid #4773FF;
                        }
                        .text {
                            height: 10px;
                            width: 50px;
                            background-color: #BEBEBF;
                            margin: 0.5em;
                            border-radius: 20px;
                            margin: 1em auto;
                        }
                      
                    }
                }
            } 
    }

}